body {
	font-family: 'Montserrat', sans-serif;
	color: #444;
}

.container {
	padding: 10px 20px;
}

.btn-container {
	margin-top: 5px;
	display: flex;
	padding: 10px;
}
.btn {
	margin: 5px;
	padding: 10px;
	font-weight: 700;
	outline: none;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 5px;:
	cursor: pointer;
	text-transform: uppercase;
	/*transition: all 2s ease-out;*/
}
.btn:hover {
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}
.decode {
	background: tomato;

}
.decode:active {
	box-shadow: none;
	/*color: white;*/
	background: #FF9B87FF;
}
.encode {
	background: #5995ed;
}
.encode:active {
	box-shadow: none;
	/*color: grey;*/
	background: #80BBE2FF;
}

.customSelect select {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	appearance: none;
	/*padding: 10px;*/
	padding: 0 50px 0 20px;
	cursor: pointer;
	text-indent: 5px;
	font-size: 1.2em;
	/*font-weight: bold;*/
	color: #444;

}

.customSelect select:focus {
	outline: none;
}

.customSelect option {
	margin-top: 3px;
	padding: 5px;
}

.customSelect .select {
	position: relative;
	background: #fff;
	border: 1px solid #8aa4b8;
	height: 30px;
	cursor: pointer;
	border-radius: 4px;
}

.customSelect .select::before {
	content: '';
	background: #F2984E;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	pointer-events: none;
}

.customSelect .select::after {

	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 6px 0;
	border-color: #fff transparent transparent transparent;
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
}

#select, option {
	text-transform: uppercase;
	font-weight: 700;
}

.supplier-container {
	/*position: relative;*/
	position: absolute;
	top: 24%;
	z-index: 1;
	left: 0;
	/*margin: auto;*/
	width: 170px;
	height: 60px;
	background: rgba(161, 216, 209, 0.3);
	filter: blur(0.6px);
	box-shadow: 0px 0px 10px #333;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #32567CFF;
	font-size: 1.3em;
	border-radius: 0 4px 4px 0;
	transform: translateX(-12rem);
	/*animation: moveInLeft 1s linear;*/
}

.active {
	transform: translateX(0);
	animation: moveInLeft 0.3s linear;

}





@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-12rem);
    }

    80% {
        transform: translateX(.7rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
